header {
	background: #34495e;
	width: 100%;
}

footer {
	background: #34495e;
	text-align: center;
	width: 100%; /*scale to fit*/
	color: white;
}

.row {
	padding-top: 5px;
	background: #F2F2F2;
}

.titulo {
	padding-bottom: 30px;
}

.thumbnail.gray {
	background: #F2F2F2;
	border: 2px solid #34495e;
	padding: 0 0 0 0;
	display: block;
	width: 100%;
}

.selected1 > .thumbnail.gray {
	border: 2px solid #2ecc71;
}

.selected1 > .thumbnail.gray > .caption {
	border-top: 2px solid #2ecc71;
	background: #2ecc71;
}

.selected2 > .thumbnail.gray {
	border: 2px solid #1abc9c;
}
.selected2 > .thumbnail.gray > .caption {
	border-top: 2px solid #1abc9c;
	background: #1abc9c;
}

.selected3 > .thumbnail.gray {
	border: 2px solid #3498db;
}
.selected3 > .thumbnail.gray > .caption {
	border-top: 2px solid #3498db;
	background: #3498db;
}

.image {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
}

.caption {
	border-top: 2px solid #34495e;
	background: lightgray;
}

button.anterior {
	position: fixed;
	top: 2%;
	left: 1%;
	z-index: 1000;
}
button.siguiente {
	position: fixed;
	top: 2%;
	right: 1%;
	z-index: 1000;
}

.clear {
	height: 300px;
}
